html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *::after, *::before {
    box-sizing: inherit;
}

:root {
    --primary-color: #E76F51;
    --secondary-color: #F8E1DB;
    --color-dark: #3B3735;
    --white: #fff;
    --app-bg: #FAF4F2;
    --primary-font: 'Roboto-Regular', Arial, Helvetica, sans-serif;
    --primary-font-md: 'Roboto-Medium', Arial, Helvetica, sans-serif;
    --secondary-font: 'Archivo-Black', Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--primary-font);
    background-color: var(--app-bg);
    font-size: 1.6rem;
    line-height: 1.6;
}

/* app-css */

.container {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

/* component*/

.btn {
    width: 20rem;
    height: 5rem;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: var(--white);
    background: var(--primary-color);
    transition: all 150ms ease-in-out 50ms;
}

/* header-navigation */

.header {
    padding-top: 3rem;
    background:
        linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
        url(../images/header-bg.jpg);
    height: 85vh;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 12rem;
    border-bottom-right-radius: 12rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu__app {
    width: 5.5rem;
    height: 5.5rem;
}

.nav-menu-desktop {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu__list {
    display: none;
    padding-left: 2rem;
}

.nav-menu__item {
    padding-left: 2rem;
}

.nav-menu__link {
    color: #D2D2D2;
    transition: all 150ms ease-in-out 50ms;
}

.nav-menu__link:hover {
    color: var(--white);
}

.nav-menu__link--active {
    color: var(--white);
    position: relative;
}

.nav-menu__link--active::before {
    content: '';
    position: absolute;
    width: 4rem;
    height: 0.2rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--primary-color);
    transform: rotate(45deg);
    border-radius: 10rem;
}

.nav-menu-btns {
    display: none;
}

.nav-menu-btns__link {
    color: var(--white);
    font-family: var(--primary-font-md);
}

.nav-menu-btns__link--btn {
    border: 1px solid var(--white);
    padding: 1.3rem 2.3rem;
    border-radius: 2.5rem;
    margin-left: 2rem;
    transition: all 150ms ease-in-out 50ms;
}

.nav-menu-btns__link--btn:hover {
    background-color: var(--white);
    color: var(--primary-color);
}

.nav-menu-mobile {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    left: -22rem;
    top: 0;
    bottom: 0;
    width: 22rem;
    padding: 2.5rem;
    transition: all 200ms ease-in-out 50ms;
    z-index: 100;
}

.nav-menu-mobile--open {
    left: 0;
}

.nav-menu-mobile__title {
    color: var(--white);
    font-family: var(--primary-font-md);
    font-size: 2.7rem;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 0.7rem;
    margin-bottom: 2rem;
}

.nav-menu-mobile__item {
    margin-top: 1.2rem;
}

.nav-menu-mobile__link {
    color: var(--white);
    position: relative;
    transition: all 200ms ease-in-out 50ms;
}

.nav-menu-mobile__link:hover {
    padding-left: 2.6rem;

}

.nav-menu-mobile__link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0.3rem;
    border-radius: 10rem;
    background-color: var(--primary-color);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: all 200ms ease-in-out 50ms;
}

.nav-menu-mobile__link:hover::before {
    width: 2.3rem;
}

.nav-menu-mobile-btns {
    margin-top: 3rem;
    display: flex;
    align-items: center;
}

.nav-menu-mobile-btns__link {
    color: var(--white);
    flex-basis: 50%;
    border: 1px solid white;
    padding: 1.2rem;
    text-align: center;
    transition: all 150ms ease-in-out 50ms;
}

.nav-menu-mobile-btns__link:hover {
    background-color: var(--white);
    color: var(--primary-color);
}

.nav-menu-btn {
    width: 5.5rem;
    height: 5.5rem;
    background-color: var(--white);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-menu-btn__line {
    display: block;
    width: 3rem;
    height: 0.3rem;
    background-color: var(--primary-color);
    position: relative;
    border-radius: 10rem;
    transition: all 150ms ease-in-out 50ms;
}

.nav-menu-btn__line::before,
.nav-menu-btn__line::after {
    position: absolute;
    content: '';
    width: 3rem;
    height: 0.3rem;
    background-color: var(--primary-color);
    left: 0;
    right: 0;
    margin: auto;
    transition: all 150ms ease-in-out 50ms;
}

.nav-menu-btn__line::before {
    top: 0.8rem;
}

.nav-menu-btn__line::after {
    bottom: 0.8rem;
}

.nav-menu-btn--open .nav-menu-btn__line {
    background-color: transparent;
}

.nav-menu-btn--open .nav-menu-btn__line::before {
    transform: translateY(-0.8rem) rotate(-45deg);
}

.nav-menu-btn--open .nav-menu-btn__line::after {
    transform: translateY(0.8rem) rotate(45deg);
}

/* Header-content */

.section {
    margin-top: 13rem;
    color: white;
    text-align: center;
}

.header-content__title {
    font-family: var(--secondary-font);
    font-size: 4rem;
    padding-bottom: 3rem;
    line-height: 5rem;
}

.header-content__caption {
    max-width: 31rem;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.btn:hover {
    background-color: #d35e40;
}

/* Main-services */

.services-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: -18rem;
}

.service {
    color: var(--color-dark);
    background-color: var(--white);
    border-radius: 2rem;
    text-align: center;
    padding: 5rem;
    margin-bottom: 2rem;
}

.service__title {
    font-family: var(--secondary-font);
    padding-top: 2rem;
    padding-bottom: 1rem;
    word-spacing: 0.3rem;
}

/* Main-destinations */

.destinations {
    text-align: center;
    padding-top: 7rem;
}

.destinations__header {
    font-family: var(--secondary-font);
    color: var(--color-dark);
    padding-bottom: 2rem;
}

.destination-header__title {
    font-size: 2.6rem;
    padding-top: 1.3rem;
    word-spacing: 0.3rem;
}

.destinations__offer {
    display: flex;
    flex-wrap: wrap;
}

.offer {
    background-color: white;
    padding: 3rem;
    color: var(--color-dark);
    border-radius: 2rem;
    margin-bottom: 2rem;
    flex-grow: 1;
}

.offer__img-container {
    position: relative;
}

.offer__img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.offer__heart-icon {
    position: absolute;
    right: 1.8rem;
    top: 1.8rem;
    background-color: white;
    padding: 0.8rem;
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem;
}

.offer__price {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color: var(--primary-color);
    background-color: var(--white);
    padding: 1.1rem;
    border-radius: 1.4rem;
    width: 15rem;
    bottom: -1rem;
    font-family: var(--primary-font-md);
}

.offer__title {
    font-family: var(--secondary-font);
    padding-top: 3rem;
    padding-bottom: 1rem;
    word-spacing: 0.3rem;

}

.offer__link {
    margin-top: 3rem;
    background-color: rgba(141, 141, 141, 10%);
    color: rgb(141, 141, 141);
    font-family: var(--primary-font-md);
}

.offer__link:hover {
    background: rgb(233 233 233);
}

.offer-desktop-show {
    display: none;
}

.destinations__link {
    margin-top: 3rem;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.destinations__link:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

/* Main-newsletter */

.newsletter {
    margin-top: 9rem;
    background-color: var(--secondary-color);
    color: var(--color-dark);
    border-radius: 2rem;
    padding: 4rem 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter__img {
    width: 100%;
}

.newsletter__title {
    font-family: var(--secondary-font);
    font-size: 2.6rem;
    word-spacing: 0.3rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 15rem;
    margin: auto;
}

.newsletter__caption {
    font-family: var(--primary-font-md);
    padding-bottom: 1rem;
}

.form {
    padding: 1.7rem 1.5rem 1.7rem 3rem;
    background: white;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.form__input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0 1rem;
    font-size: 1.5rem;
}

.form__btn {
    border: none;
    outline: none;
    background: var(--primary-color);
    padding: 1.2rem;
    border-radius: 1.6rem;
    cursor: pointer;
    transition: all 150ms ease-in-out 50ms;
}

.form__btn:hover {
    background-color: #d35e40;
}
