@media screen and (max-width: 320px) {
    .offer {
        padding: 2rem;
    }

    .offer__price {
        width: 11rem;
    }

    .offer__link {
        width: 100%;
    }
}

@media screen and (min-width: 576px) {
    .container {
        width: 54rem
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 72rem;
    }

    .nav-menu-btn,
    .nav-menu-mobile {
        display: none;
    }

    .nav-menu__list {
        display: flex;
    }

    .services-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .service {
        margin-left: 1rem;
        margin-right: 1rem;
        width: 32rem;
        flex-grow: 1;
    }

    .destinations__offer {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .offer {
        width: 33rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .offer-desktop-show {
        display: block;
    }

    .newsletter {
        flex-direction: row-reverse;
    }

    .newsletter__content {
        text-align: left;
        padding-right: 3rem;
    }

    .newsletter__title {
        width: auto;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 96rem
    }

    .nav-menu-btns {
        display: block;
    }

    .header-content__caption {
        max-width: 45rem;
    }

    .header-content__title {
        font-size: 6rem;
        line-height: 8rem;
    }

    .newsletter__content {
        padding-right: 12rem;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 114rem
    }

    .header-content__title {
        font-size: 7rem;
        line-height: 9rem;
    }

    .newsletter__visual {
        flex-basis: 40%;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        width: 137rem
    }

    .offer {
        width: 32rem;
    }

    .newsletter__content {
        padding-right: 17rem;
    }

    .newsletter {
        padding: 4rem 7rem;
    }

    .newsletter__caption {
        width: 48rem;
    }

    .form {
        width: 65rem;
    }
}
