@media screen and (max-width: 380px) {
    .footer__right {
        flex-direction: column;
        align-items: center;
    }

    .footer__title--center,
    .footer__list,
    .footer-media-icons  {
        text-align: center;
    }

    .footer__media-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 320px) {
    .offer {
        padding: 2rem;
    }

    .offer__price {
        width: 11rem;
    }

    .offer__link {
        width: 100%;
    }
}

@media screen and (min-width: 576px) {
    .container {
        width: 54rem
    }

    .newsletter::before {
        left: -52rem;
        top: 0rem;
    }

    .destinations::before {
        left: 0;
        top: -26rem;
    }

    .destinations::after {
        right: 19rem;
        top: 125rem;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 72rem;
    }

    .nav-menu-btn,
    .nav-menu-mobile {
        display: none;
    }

    .nav-menu__list {
        display: flex;
    }

    .services-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .service {
        margin-left: 1rem;
        margin-right: 1rem;
        width: 32rem;
        flex-grow: 1;
    }

    .destinations__offer {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .offer {
        width: 33rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .offer-desktop-show {
        display: block;
    }

    .newsletter {
        flex-direction: row-reverse;
    }

    .newsletter__content {
        text-align: left;
        padding-right: 3rem;
    }

    .newsletter__title {
        width: auto;
    }

    .newsletter::before {
        left: -51rem;
        top: -41rem;
    }

    .destinations::before {
        left: 22rem;
    }

    .destinations::after {
        right: 58rem;
        top: 130rem;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 96rem
    }

    .nav-menu-btns {
        display: block;
    }

    .header-content__caption {
        max-width: 45rem;
    }

    .header-content__title {
        font-size: 6rem;
        line-height: 8rem;
    }

    .newsletter__content {
        padding-right: 12rem;
    }

    .footer__media-mobile {
        display: none;
    }

    .footer-media {
        display: block;
    }

    .footer__lists {
        width: 15rem;
    }

    .footer__right {
        flex-basis: 60%;
        padding-left: 5rem;
    }

    .footer__left {
        flex-basis: 40%;
    }

    .footer-wrapper {
        display: flex;
    }

    .footer__arrow-top {
        left: auto;
        right: 1.5rem;
    }

    .newsletter::before {
        left: -35rem;
    }

    .destinations::before {
        left: 48rem;
    }

    .destinations::after {
        right: 58rem;
        top: 130rem;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 114rem
    }

    .header-content__title {
        font-size: 7rem;
        line-height: 9rem;
    }

    .newsletter__visual {
        flex-basis: 40%;
    }

    .newsletter::before {
        left: -30rem;
    }

    .destinations::before {
        left: 63rem;
        top: -31rem;
    }

    .destinations::after {
        right: 90rem;
        top: 102rem;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        width: 137rem
    }

    .offer {
        width: 32rem;
    }

    .newsletter__content {
        padding-right: 17rem;
    }

    .newsletter {
        padding: 4rem 7rem;
    }

    .newsletter__caption {
        width: 48rem;
    }

    .form {
        width: 65rem;
    }

    .footer__item {
        max-width: 21rem;
    }

    .footer__right {
        flex-basis: 55%;
        justify-content: flex-end;
        gap: 3rem;
        padding-right: 3rem;
    }

    .footer__left {
        flex-basis: 45%;
    }

    .footer__title {
        max-width: 40rem;
    }

    .footer__lists {
        flex-grow: 0;
    }

    .newsletter::before {
        left: -16rem;
    }

    .destinations::before {
        left: 95rem;
        top: -35rem;
    }

    .destinations::after {
        right: 102rem;
        top: 40rem;
    }
}
